<div id="kanban-container">
    <div id="left">
        <div class="jobPane">
            <div class="jobDescription">
                <div class="description">
                    <h1 class="header">{{ job.Title }}</h1>
                    <h2 class="reporter">{{ job.Reporter }}</h2>
                    <h2 class="location">{{ job.Description }}</h2>
                </div>
                <div class="workflow">
                    <i class="fa fa-arrow-left fa-2x workflow-left"></i>
                    <select>
                        <option value="">--Assignee--</option>
                        <option value="person1">Johnny Goode</option>
                        <option value="person2">Captain Planet</option>
                        <option value="person3">Frank Gallagher</option>
                        <option value="person4">Wade Shelton</option>
                        <option value="person5">Steve Smith</option>
                    </select>
                    <i class="fa fa-arrow-right fa-2x workflow-right"></i>
                </div>
            </div>
        </div>
    </div>

    <div id="middle">
        middle
    </div>

    <div id="right">
        right
    </div>
</div>